@model Software.DomainModels.Topic

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Topic</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Intro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Intro" class="form-control" />
                <span asp-validation-for="Intro" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeStamp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
